{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To Do List 

{% endblock %}


{% block content %}

    <h1>Welcome to my To Do List website.</h1>

    <p>this is a simple webstie that allows for users to create a to do list that can have anything that the user types in.</p>

    <ul>
        <p><a href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTV0QAKmj4y1hKCWHOjESOqXfYjL5O8U-JjaQ&s"></a></p>
    </ul>


<article>
   <h1> Current tasks to do </h1>
        <p>Go to the shops </p>
        <p>eat some food</p>
        <p>rotate a chair</p>
</article>

<article>
   <h1> Compeleted tasks </h1>
        <p>go home  </p>
        <p> farm some money</p>
        <p>charge phone </p>
</article>


<article>
  <form action="/add-task" method="POST">
    <h1>Add a task</h1>
    <input
      type="text"
      name="task"
      placeholder="task name"
      required
    >


    <select name="priority" id="priority" required>
      <option value="">Select priority</option>
      <option value="5">5 "highest"</option>
      <option value="4">4</option>
      <option value="3">3</option>
      <option value="2">2</option>
      <option value="1">1 "lowest" </option>
    </select>

    <button>add task</button>
  </form>
</article>

{% endblock %}

        