{#=====================================================
  Home page
  - Hero style greeting banner
  - List of things passed in as 'things' array
  - Form for adding a new thing
=====================================================#}

{% extends 'pages/base.jinja' %}


{% block title %}

    To Do List 

{% endblock %}


{% block content %}

    <h1>Welcome to my To Do List website.</h1>

    <p>this is a simple webstie that allows for users to create a to do list that can have anything that the user types in.</p>

    <ul>
        <p><a href="https://www.google.com/imgres?q=notes%20icon&imgurl=https%3A%2F%2Fcdn-icons-png.flaticon.com%2F512%2F9239%2F9239205.png&imgrefurl=https%3A%2F%2Fwww.flaticon.com%2Ffree-icon%2Fnote_9239205&docid=83DTnrdc89hlaM&tbnid=mcop-Ua1YsOVRM&vet=12ahUKEwj98f3hq-2NAxWbZvUHHcS8HY4QM3oECBoQAA..i&w=512&h=512&hcb=2&ved=2ahUKEwj98f3hq-2NAxWbZvUHHcS8HY4QM3oECBoQAA"></a></p>
    </ul>


<article>
   <h1> Current tasks to do </h1>
        <p>Go to the shops </p>
        <p>eat some food</p>
        <p>rotate a chair</p>
</article>

<article>
   <h1> compeleted tasks </h1>
        <p>go home  </p>
        <p> farm some money</p>
        <p>charge phone </p>
</article>



{% endblock %}

        